/* Color scheme */
:root {
    --magnolia: #f8f0ff;
    --light-coral: #ED7A83ff;
    --melon: #EDB8AAff;
    --raisin-black: #352a2e;
    --mountbatten-pink: #89767c;
    --mountbatten-pink2: #756469;
}

/* Built-in article scrollbar */
.scroll-container {
    height: 85vh;
    overflow-y: scroll;
    margin-right: -50px;
    padding-right: 50px;
}

.scroll-container::-webkit-scrollbar {
    width: 5px;
}

.scroll-container::-webkit-scrollbar-track {
    background: var(--mountbatten-pink)
}

.scroll-container::-webkit-scrollbar-thumb {
    background: var(--raisin-black);
}

.scroll-container::-webkit-scrollbar-button {
    display: none;
}

/* Artcle box and contents */
article {
    padding: 70px;
    width: 100vw;
    background-color: var(--mountbatten-pink);
    color: var(--magnolia);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

article h1 {
    font-size: clamp(32px, 1.2vw, 70px);
    margin-bottom: 50px;
    color: var(--raisin-black);
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article p {
    line-height: 28px;
    font-size: clamp(18px, 1.2vw, 50px);
    color: var(--magnolia);
    margin: 20px auto;
}

section :after {
    content: "";
    display: table;
    clear: both;
}

/* Switch button article between dark and light mode */
.dark-light-container {
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
    margin-top: 0px
}
.dark-light {
    font-size: 30px;
    cursor: pointer;
    color: var(--magnolia);
    margin-right: -10px;
}

.dark-light:hover {
    color: var(--light-coral);
    transition: color .4s ease;
}
