body>footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
    background-color: var(--raisin-black);
    height: auto;
    width: 100vw;
    padding: 40px 0 0 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer p {
    margin: 20px auto;
    line-height: 28px;
    font-size: 14px;
    color: var(--mountbatten-pink);
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: var(--mountbatten-pink);
    border: 1.1px solid var(--magnolia);
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;

}

.socials a:hover i {
    color: var(--light-coral);
    transition: color .4s ease;
}

.footer-copyright {
    background: var(--raisin-black);
    width: 100vw;
}

.footer-copyright p {
    font-size: 10px;
    word-spacing: 2px;
    align-items: center;
    justify-content: center;
    color: var(--mountbatten-pink);
}

.contact {
    color: var(--mountbatten-pink);
}

.contact:hover {
    color: var(--light-coral);
    transition: color .4s ease;
}

p span:not(:last-child)::after {
    content: " | ";
    font-size: 20px;
    color: var(--mountbatten-pink);

}
