/* Color scheme */
:root {
    --magnolia: rgb(248, 240, 255);
    --light-coral: #ED7A83ff;
    --melon: #EDB8AAff;
    --raisin-black: #352a2e;
    --mountbatten-pink: rgb(137, 118, 124);
    --mountbatten-pink2: rgb(117, 100, 105);
}

/* Effects of switching between dark/light mode */
.switchmode {  
    .dark-light {
        color: var(--raisin-black);
    }

    .sidenav {
        background-color: rgb(248, 240, 255, 0.9);
    }

    .sidenav a {
        color: var(--raisin-black);
    }

    .scroll-container::-webkit-scrollbar-track {
        background: var(--magnolia)
    }
    
    .scroll-container::-webkit-scrollbar-thumb {
        background: var(--raisin-black);
    }
    
    .scroll-container::-webkit-scrollbar-thumb:hover {
        background: var(--melon);
    }

    article {
        background-color: var(--magnolia);
        color: var(--raisin-black);
    }

    article p {
        color: black;
    }
}