* {
    box-sizing: border-box;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body.hidescrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.imgholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

img {
    height: auto;
    max-width: 90%;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px rgb(53, 42, 46);
    margin: 20px;
}


:root {
    --magnolia: #F8F0FFff;
    --light-coral: #ED7A83ff;
    --melon: #EDB8AAff;
    --raisin-black: rgb(53, 42, 46);
    --mountbatten-pink: rgb(137, 118, 124);
    --mountbatten-pink2: rgb(117, 100, 105); 
  }

header {
    background-color: var(--raisin-black);
    width: 100vw;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: var(--melon);
    font-family: Arial, Helvetica, sans-serif;
    /* border-bottom: solid; */
}

.hello {
    font-size: 20px;
    color: var(--mountbatten-pink);
    padding-top: 20px;

}

.myname {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: var(--melon);
}

.span {
    font-size: 30px;
    cursor: pointer;
}

.span:hover {
    color: var(--light-coral);
    transition: color .4s ease;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(53, 42, 46, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 25px;
    color: var(--melon);
    display: block;
    transition: 0.3s;;
    border-bottom: 1px solid rgb(137, 118, 124,0.3);
    
}


.sidenav a:hover {
    color: var(--light-coral);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

@media screen and (max-height:450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.scroll-container {
    height: 85vh;
    overflow-y: scroll;
}

.scroll-container::-webkit-scrollbar {
    width: 5px;
}

.scroll-container::-webkit-scrollbar-track {
    background: var(--mountbatten-pink)
}

.scroll-container::-webkit-scrollbar-thumb {
    background: var(--raisin-black);
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: var(--melon);
}

.scroll-container::-webkit-scrollbar-button {
    display: none;
}

article {
    float: left;
    padding: 70px;
    width: 100vw;
    background-color: var(--mountbatten-pink);
    color: var(--magnolia);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    /* border-left: solid; */
}

article h1 {
    font-size: 32px;
    margin-bottom: 50px;
    color: var(--raisin-black);
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article p {
    line-height: 28px;
    font-size: 18px;
    color: var(--magnolia);
    margin: 20px auto;

}

section :after {
    content: "";
    display: table;
    clear: both;
}

body>footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
    background-color: var(--raisin-black);
    height: auto;
    width: 100vw;
    padding: 40px 0 0 0;
    /* font-size: 16px; */
    /* padding: 50px;
    text-align: center; */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer p {
    margin: 20px auto;
    line-height: 28px;
    font-size: 14px;
    color: var(--mountbatten-pink);
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: var(--mountbatten-pink);
    border: 1.1px solid var(--magnolia);
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: var(--light-coral);
}

.footer-copyright {
    background: var(--raisin-black);
    width: 100vw;
    /* padding: 20px 20px 50px 20px; */
}

.footer-copyright p {
    font-size: 10px;
    word-spacing: 2px;
    align-items: center;
    justify-content: center;
}

.email {
    color: var(--mountbatten-pink);
}

.email:hover {
    color: var(--light-coral);
    transition: color .4s ease;
}

