* {
    box-sizing: border-box;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body.hidescrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.imgholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

img {
    height: auto;
    max-width: 90%;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px rgb(53, 42, 46);
    margin: 20px;
}

:root {
    --magnolia: #F8F0FFff;
    --light-coral: #ED7A83ff;
    --melon: #EDB8AAff;
    --raisin-black: #352a2e;
    --mountbatten-pink: rgb(137, 118, 124);
    --mountbatten-pink2: rgb(117, 100, 105);
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media (max-width: 600px) {

    nav,
    article,
    footer {
        width: 100%;
        height: auto;

    }
}